{% extends "base.html" %}

{% block content %}
<div align="center">
    <div>
    <p> </p>
    </div>
        <div class="card text-center">
            <div class="card-body">
                <h5 style="color: red">If you want to use weather forecasting service by entering each value manually <a href="/forecast_manually" style="color: red"><u> tap here</u></a>.</h5>
                <h5 style="color: red">If you want to use weather forecasting service by uploading CSV file <a href="/forecast_csv" style="color: red"><u> tap here</u></a>.</h5>
            </div>
        </div>
     </div>
</div>

{% endblock %}